# Taller 8

### Bases de Datos en la Nube - RDS

##### Analítica Computacional para la Toma de Decisiones

---

|     Nombres      |      Apellidos       |     Login     |  Codigo   |
| :--------------: | :------------------: | :-----------: | :-------: |
|     Santiago     | Gonzalez Montealegre | s.gonzalez35  | 202012274 |
| Juliana Carolina |  Cardenas Barragan   | jc.cardenasb1 | 202011683 |

---

In [1]:
import pandas as pd
import psycopg2

In [2]:
# ------------------------------------------------
# Mostrar el resultado como un pandas DataFrame
# ------------------------------------------------

# Ejecutar la query
def execute(query: str, cursor: (psycopg2.extensions.cursor)):
    cursor.execute(query)
    result = cursor.fetchall()
    return result

# Hallar los atributos
def getColumnNames(cursor):
    columns = [i[0] for i in cursor.description]
    return columns

# Mostrar como DataFrame
def pdsql(query: str, connection: (psycopg2.extensions.connection)):
    try:
        cursor = connection.cursor()
        result = execute(query, cursor)
        columns = getColumnNames(cursor)
        df = pd.DataFrame(result, columns=columns)
        return df
    except Exception:
        connection.commit()
        return "Query Error"

In [3]:
connection = psycopg2.connect(
    host="santiago.cbcppu1qhnbp.us-east-1.rds.amazonaws.com",
    port='5432',
    user="postgres",
    password="santiago2003",
    dbname="world",
)

OperationalError: connection to server at "santiago.cbcppu1qhnbp.us-east-1.rds.amazonaws.com" (44.215.75.162), port 5432 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?

In [12]:
query = """
SELECT * 
FROM pg_catalog.pg_tables 
WHERE schemaname='public'
;"""
pdsql(query, connection)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,city,postgres,None,True,False,True,False
1,public,country,postgres,None,True,False,True,False
2,public,country_language,postgres,None,True,False,True,False

In [13]:
query = """
SELECT * 
FROM city
;"""
pdsql(query, connection)

        id            name country_code       district  population
0        1           Kabul          AFG          Kabol     1780000
1        2        Qandahar          AFG       Qandahar      237500
2        3           Herat          AFG          Herat      186800
3        4  Mazar-e-Sharif          AFG          Balkh      127800
4        5       Amsterdam          NLD  Noord-Holland      731200
...    ...             ...          ...            ...         ...
4074  4075      Khan Yunis          PSE     Khan Yunis      123175
4075  4076          Hebron          PSE         Hebron      119401
4076  4077        Jabaliya          PSE     North Gaza      113901
4077  4078          Nablus          PSE         Nablus      100231
4078  4079           Rafah          PSE          Rafah       92020

[4079 rows x 5 columns]

In [5]:
connection_partner = psycopg2.connect(
    host="juliana.cdrz11epbroh.us-east-1.rds.amazonaws.com",
    port='5432',
    user="postgres",
    password="Juliana200228",
    dbname="world",
)

OperationalError: connection to server at "juliana.cdrz11epbroh.us-east-1.rds.amazonaws.com" (3.220.22.176), port 5432 failed: Connection timed out (0x0000274C/10060)
	Is the server running on that host and accepting TCP/IP connections?

In [ ]:
query = """
SELECT * 
FROM city
;"""
pdsql(query, connection_partner)

        id            name country_code       district  population
0        1           Kabul          AFG          Kabol     1780000
1        2        Qandahar          AFG       Qandahar      237500
2        3           Herat          AFG          Herat      186800
3        4  Mazar-e-Sharif          AFG          Balkh      127800
4        5       Amsterdam          NLD  Noord-Holland      731200
...    ...             ...          ...            ...         ...
4074  4075      Khan Yunis          PSE     Khan Yunis      123175
4075  4076          Hebron          PSE         Hebron      119401
4076  4077        Jabaliya          PSE     North Gaza      113901
4077  4078          Nablus          PSE         Nablus      100231
4078  4079           Rafah          PSE          Rafah       92020

[4079 rows x 5 columns]